$white: #fafdff;
$whiteLight: #ebeff2;
$whiteGray: #dadfe3;
$whiteDark: #cbd2d6;
$light: #bdc3c7;
$gray: #828a8f;
$dark: #4b5257;
$black: #1a1d1f;
$brandLight: #5dbaff;
$brandDefault: #109aff;
$brandDark: #006ebf;
$accent: #ff7510;
$highlight: #10ff75;
