$familySansSerif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo,
    sans-serif;
$familySerif: "Crimson Text", Georgia, serif;
$familyMonospace: monospace, serif;
$familyBase: $familySerif;
$weightThin: 100;
$weightExtraLight: 200;
$weightLight: 300;
$weightNormal: 400;
$weightMedium: 500;
$weightSemiBold: 600;
$weightBold: 700;
$weightExtraBold: 800;
$weightBlack: 900;

$sizeXS: 1.2rem;
$sizeS: 1.4rem;
$sizeM: 1.6rem;
$sizeL: 1.8rem;
$sizeXL: 2rem;
$sizeHeaderPc: 4rem;
$sizeHeader: 3rem;
$sizeSectionHeaderPc: 2.8rem;
$sizeSectionHeader: 2.4rem;
